{% extends 'base.html' %}
{% block title %}insert{% endblock %}
{% block content %}
<div align=center>
<div style="width: 70%; align-items: center;">
    <form method="POST">
        <div class="input-group mb-3">
            <input name="name" type="text" class="form-control" placeholder="Client name" aria-label="Username" aria-describedby="basic-addon1" required>
          </div>
          
          <div class="input-group mb-3">
            <input name="phone" type="text" class="form-control" placeholder="Phone numper"  aria-label="Recipient's username" aria-describedby="basic-addon2">
          </div>
          
          <div class="input-group mb-3">
            <input name="address" type="text" class="form-control" placeholder="Address" id="basic-url" aria-describedby="basic-addon3">
          </div>
          
      <button type="submit" class="btn btn-warning">Submit</button>
    </form>
</div>

</div>
{% endblock %}